ClientWPF/Service References/ServiceAgence/Agence3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22103/Agence.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceWCF.DataContracts" />
  <xs:element name="LireListeBiensImmobiliers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceWCF.DataContracts" minOccurs="0" name="criteres" nillable="true" type="q1:CriteresRechercheBiensImmobiliers" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nbBiens" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireListeBiensImmobiliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceWCF.DataContracts" minOccurs="0" name="LireListeBiensImmobiliersResult" nillable="true" type="q2:ResultatListeBiensImmobiliers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireDetailsBienImmobilier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireDetailsBienImmobilierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceWCF.DataContracts" minOccurs="0" name="LireDetailsBienImmobilierResult" nillable="true" type="q3:ResultatBienImmobilier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterBienImmobilier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceWCF.DataContracts" minOccurs="0" name="bien" nillable="true" type="q4:BienImmobilier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterBienImmobilierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceWCF.DataContracts" minOccurs="0" name="AjouterBienImmobilierResult" nillable="true" type="q5:ResultatBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierBienImmobilier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceWCF.DataContracts" minOccurs="0" name="bien" nillable="true" type="q6:BienImmobilier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierBienImmobilierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceWCF.DataContracts" minOccurs="0" name="ModifierBienImmobilierResult" nillable="true" type="q7:ResultatBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerBienImmobilier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerBienImmobilierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceWCF.DataContracts" minOccurs="0" name="SupprimerBienImmobilierResult" nillable="true" type="q8:ResultatBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>